body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffffff;
    padding: 15px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 999;
}

.logo img {
    max-height: 40px;
    width: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #444444;
    font-weight: bold;
}

nav ul li a:hover,
nav ul li a.selected {
    color: #0b3d91;
}

main {
    margin-top: 100px;
    padding: 20px;
}

.Titel {
    text-align: left;
    color: #0b3d91;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.gallery {
    width: 600px;
    max-height: 600px;
    overflow-y: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.galleryHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.filter select {
    width: 200px;
}

.furniture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.tile {
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    overflow: hidden;
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    border-radius: 5px;
    position: relative;
    transition: box-shadow 0.3s;
}

.tile:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tile img {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.tile p {
    margin: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

footer {
    background-color: #0b3d91;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 40px;
}

.links ul li {
    margin-bottom: 5px;
    margin-right: 20px;
}

.links ul li a {
    text-decoration: none;
    color: white;
}

.links ul li:last-child {
    margin-right: 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icons i {
    margin: 0 10px;
}
