<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StyleSage-Interieurs</title>
    <link rel="icon" type="image/png" href="../static/Bilder/PageIcon.png">
    <link rel="stylesheet" href="../static/Css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../static/Bilder/logo.png" alt="Bild">
        </div>
        <nav>
            <ul>
                <li><a href="#">Products</a></li>
                <li><a href="#">About Us</a></li>
                <li><a class="selected" href="#">Buy</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="Titel">Raumplaner und Planungsservice mit Termin</h1>
        <div class="content">
            <div class="text-block">
                <p>Nutze die kostenlosen Planungstools für Küche, Kleiderschrank und mehr. Probiere virtuell Einrichtungsideen aus und speichere deine Planung.
                    Unsere Expert*innen stehen dir bei Bedarf zur Seite.
                    In Kombination mit der StyleSage Interiors App wird das Einrichten noch einfacher. Lade Fotos deiner aktuellen Einrichtung hoch, um passende Möbelstücke und Designs zu finden, die zu deinem Stil passen. Dein Schlüssel zu stilvollem Wohnen.</p>
                <p>Unser Tool ist dein persönlicher Stilberater für dein Zuhause! Entdecke deinen einzigartigen Stil und erhalte maßgeschneiderte Vorschläge, wie du dein Zimmer perfekt ergänzen kannst. Lass dich inspirieren und finde die passenden Möbel und Dekorationen, die deinen persönlichen Stil widerspiegeln und dein Zuhause noch schöner machen.</p>
                <form action="/Upload" method="get" enctype="multipart/form-data">
                    <button type="submit">Jetzt ausprobieren</button>
                </form>
            </div>
            <div class="image">
                <img src="../static/Bilder/raum.jpg" alt="Bild">
            </div>
        </div>
    </main>
    <footer>
        <div class="social-icons">
            <i class="fab fa-facebook" style="color: white;"></i>
            <i class="fab fa-twitter" style="color: white;"></i>
            <i class="fab fa-google" style="color: white;"></i>
            <i class="fab fa-instagram" style="color: white;"></i>
        </div>
        <div class="links">
            <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>
            <ul>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Change Country</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
